/* Write the CSS for you answer here */
#container {

position: absolute;
left: 100px;

}

#tree {
    position: absolute;
    width: 700px;
    left: 200px;
    top: 160px;
    z-index: 3;
    
}

#background {
    position: absolute;
    left: 200px;
    top: 50px;
    z-index: 1;
    
}

.baubles {
    position: absolute;
}

#blue-bauble {

    left: 325px;
    top: 300px;
    z-index: 4;

}
#darkblue-bauble {

    left: 420px;
    top: 250px;
    z-index: 4;
}
#green-bauble {

    left: 540px;
    top: 300px;
    z-index: 4;
}

#orange-bauble {

    left: 640px;
    top: 250px;
    z-index: 4;
}
#pink-bauble {

    left: 740px;
    top: 325px;
    z-index: 4;
}
#red-bauble {

    left: 425px;
    top: 370px;
    z-index: 2;

}

